/__pycache__

# Flutter
swimiq/.dart_tool/
swimiq/.flutter-plugins
swimiq/.flutter-plugins-dependencies
swimiq/.packages
swimiq/build/
swimiq/.idea/
swimiq/*.iml
swimiq/.metadata

# Android (Kotlin)
android/local.properties
android/.gradle/
android/app/build/
android/build/
*.iml
.idea/
android/.kotlin/
